:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.css-hyum1k-MuiToolbar-root {
  justify-content: space-between;
}
.css-wjh20t-MuiPagination-ul {
  justify-content: center;
}
button.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
  color: white;
}
MuiPaginationItem.css-1v2lvtn-MuiPaginationItem-root {
  color: white;
}
